:root {
    --color-base-100: oklch(98% 0.031 120.757);
    --color-base-200: oklch(96% 0.067 122.328);
    --color-base-300: oklch(93% 0.127 124.321);
    --color-base-content: oklch(45% 0.124 130.933);
    --color-primary: #359830;
    --color-primary-content: oklch(97% 0.013 236.62);
    --color-secondary: #c90c0f;
    --color-secondary-content: oklch(96% 0.015 12.422);
    --color-accent: #c90c0f;
    --color-accent-content: oklch(97% 0.021 166.113);
    --color-neutral: #359830;
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(76% 0.233 130.85);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(70% 0.213 47.604);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 0;
}